.courses {
  margin-top: 2rem;
  padding: 0 3rem;
}

.coursesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.coursesTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: yekanFat;
  font-size: 2.2rem; /* بهتره با rem کار کنیم */
}

.coursesTitle > svg {
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 10px;
}

.allCoursesBtn {
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.allCoursesBtn > svg {
  margin-bottom: 5px;
}

.allCoursesBtn:hover {
  color: var(--lowBlue);
}

.lastCourses {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 2rem;
  place-items: center;
}

/* ریسپانسیو تبلت */
@media (max-width: 900px) {
  .courses {
    padding: 0 2rem;
  }

  .lastCourses {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .coursesTitle {
    font-size: 1.8rem;
  }

  .allCoursesBtn {
    font-size: 1.3rem;
  }
}

/* ریسپانسیو موبایل */
@media (max-width: 600px) {
  .courses {
    padding: 0 1.5rem;
  }

  .coursesHeader {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .coursesTitle {
    font-size: 1.5rem;
    justify-content: center;
  }

  .allCoursesBtn {
    font-size: 1.2rem;
  }

  .lastCourses {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    gap: 4rem;
  }
}

/* موبایل خیلی کوچک */
@media (max-width: 400px) {
  .courses {
    padding: 0 1rem;
  }

  .coursesTitle {
    font-size: 1.3rem;
  }

  .allCoursesBtn {
    font-size: 1rem;
  }
}
